<div class="row">
    <div class="twelve columns">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <a href="/rules"><input type="button" name="rules" value="Ng&#257 Ture"></a>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <a href="/teams"><input type="button" name="individual" value="Kua reri"></a>
    </div>
</div>
