<div class="row">
    <div class="twelve columns">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row nav-buttons">
    <div class="one-half column nav-button">
            <button>NG&#257 TURE</button>
    </div>
    <div class="one-half column nav-button">
        <a href="/teams/new">
            <button>KUA RERI</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="twelve columns rules-text">
    <p>List the rules here</p>
    </div>
</div>

<div class="row video-container">
    <div class="twelve columns video">
        <iframe src="http://www.youtube.com/embed/jWhAoZZh8fc"></iframe>
    </div>
</div>