<h1>{{title}}</h1>

<div class="howto">
</div>

<div class="watchhowto">
<input type="button" name="kuareri" value="Kua reri">
</div>

<div class="video">
        <iframe src="http://www.youtube.com/embed/jWhAoZZh8fc"></iframe>
</div>