<h1>{{title}}</h1>

<div class="row">
    <div class="six columns rules-text">
    <p>List the rules here</p>
    </div>
    <div class="six columns rules-video">
        <iframe src="http://www.youtube.com/embed/jWhAoZZh8fc"></iframe>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <a href="/teams"><input type="button" name="individual" value="Kua reri"></a>
    </div>
</div>

